/* * {
    border: 1px solid rgb(20, 190, 162);
} */

.wrapper-grid {
    position: relative;
    /* width: 24vw; */
    display: flex;
    flex-direction: column;
}
.grid-container {
    --item-size: 2vw;

    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 2px;
    grid-template-columns: repeat(11, var(--item-size));
    grid-template-rows: repeat(11, var(--item-size));
    grid-auto-rows: var(--item-size);
    color: rgba(113, 124, 150, 0.7);
    font-size: 12px;
    font-weight: 900;
}

.transparent-grid-container {
  position: absolute;
  top: 0;
}

.grid-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
}

.playingField {
    cursor: pointer;
}

.playingField:hover {
    background: rgba(26, 52, 68, 0.2);
}

.blueBg {
    background: rgba(97, 198, 255, 0.2);
}

.grayBg {
    background: rgba(157, 157, 157, 0.2);
}

@media screen and (max-width: 900px) {
    .grid-container {
        --item-size: 3vw;
    }
}

@media screen and (max-width: 750px) {
    .grid-container {
        --item-size: 4vw;
    }
}

@media screen and (max-width: 600px) {
    .grid-container {
        --item-size: 5vw;
    }
}

@media screen and (max-width: 500px) {
    .grid-container {
        --item-size: 6vw;
    }
}

@media screen and (max-width: 400px) {
    .grid-container {
        --item-size: 7vw;
    }
}