
.button-32 {
  background-color: #FF0055;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #ffbaa5;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.button-33 {
  background-color: #FF0055;
  border-radius: 12px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 40%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-33:not(:disabled):hover,
.button-33:not(:disabled):focus {
  outline: 0;
  background: #ffc5b4;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-33:disabled {
  filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.kill {
  color: #FF0055 !important;
  text-decoration: line-through;
}