.ship2x {
    background: rgb(215 213 213);
    width: 4vw;
    height: 2vw;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    cursor: move;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .ship2x {
        width: 6vw;
        height: 3vw;
    }
}

@media screen and (max-width: 750px) {
    .ship2x {
        width: 8vw;
        height: 4vw;
    }
}

@media screen and (max-width: 600px) {
    .ship2x {
        width: 10vw;
        height: 5vw;
    }
}

@media screen and (max-width: 500px) {
    .ship2x {
        width: 12vw;
        height: 6vw;
    }
}

@media screen and (max-width: 400px) {
    .ship2x {
        width: 14vw;
        height: 7vw;
    }
}