.ship3x {
    background: rgb(215 213 213);
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 105%, 0% 100%);
    width: 6vw;
    height: 2vw;
    border-radius: 2.5vh;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.isVerticalShip3x {
    width: 2vw;
    height: 6vw;
    flex-direction: column;
}
@media screen and (max-width: 900px) {
    .ship3x {
        width: 9vw;
        height: 3vw;
    }
    .isVerticalShip3x {
        width: 3vw;
        height: 9vw;
    }
}
@media screen and (max-width: 750px) {
    .ship3x {
        width: 12vw;
        height: 4vw;
    }
    .isVerticalShip3x {
        width: 4vw;
        height: 12vw;
    }
}
@media screen and (max-width: 600px) {
    .ship3x {
        width: 15vw;
        height: 5vw;
    }
    .isVerticalShip3x {
        width: 5vw;
        height: 15vw;
    }
}
@media screen and (max-width: 500px) {
    .ship3x {
        width: 18vw;
        height: 6vw;
    }
    .isVerticalShip3x {
        width: 6vw;
        height: 18vw;
    }
}
@media screen and (max-width: 400px) {
    .ship3x {
        width: 21vw;
        height: 7vw;
    }
    .isVerticalShip3x {
        width: 7vw;
        height: 21vw;
    }
}