.ship4x {
    background: rgb(215 213 213);
    width: 8vw;
    height: 2vw;
    clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.isVerticalShip4x {
    width: 2vw;
    height: 8vw;
    flex-direction: column;
    clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 0% 100%, 0% 15%);
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
}
@media screen and (max-width: 900px) {
    .ship4x {
        width: 12vw;
        height: 3vw;
    }
    .isVerticalShip4x {
        width: 3vw;
        height: 12vw;
    }
}
@media screen and (max-width: 750px) {
    .ship4x {
        width: 16vw;
        height: 4vw;
    }
    .isVerticalShip4x {
        width: 4vw;
        height: 16vw;
    }
}
@media screen and (max-width: 600px) {
    .ship4x {
        width: 20vw;
        height: 5vw;
    }
    .isVerticalShip4x {
        width: 5vw;
        height: 20vw;
    }
}
@media screen and (max-width: 500px) {
    .ship4x {
        width: 24vw;
        height: 6vw;
    }
    .isVerticalShip4x {
        width: 6vw;
        height: 24vw;
    }
}
@media screen and (max-width: 400px) {
    .ship4x {
        width: 28vw;
        height: 7vw;
    }
    .isVerticalShip4x {
        width: 7vw;
        height: 28vw;
    }
}