.ship6x{
    background: rgb(215 213 213);
    width: 12vw;
    height: 2vw;
    border-radius: 0.5vh;
    cursor: move;
    display: flex;
    justify-content: space-around;
    align-items: center;
}